body {
    background-color: #eee;
}

canvas {
    width: 50vw;
    position: absolute;
}

.main {
    margin-left: 25%;
    padding: 10px;
}

.border {
    border: 5px dashed black;
    width: 50vw;
    height: 50vh;
}

.no-border {
    border: none;
}


body h4, body h1 {
    text-align: center;
}

div h4 {
    text-align: left;
}

label,
h1,
h2,
h3,
h4,
h5 {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h4 {
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 4px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.link:hover + .hide {
    display: flow;
    position: absolute;
    top: 10vh;
    left: 20vw;
}

li:hover {
    cursor: pointer;
}

.slidecontainer {
    align-items: center;
    display: flex;
}

.slider {
    width: 30vw;
    height: 25px;
    background: #f3f3f3;
    outline: none;
    transition: opacity 0.2s;
    cursor: pointer;
}

.slider:hover {
    opacity: 0.4;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #777;
}
